extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let doctorid = toShow._id
    - let patient_Name = toShow.patient_Name
    - let patient_Age = toShow.patient_Age
    - let Mail_Id = toShow.Mail_Id
    - let actionid = "/resource/doctor/" + doctorid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='doctorAttr mr-3') doctor ID is:
        div #{doctorid}
      div.row
        div(class='doctorAttr mr-3') patient_Name is:
        div #{patient_Name}
      div.row
        div(class='doctorAttr mr-3') patient_Age is:
        div #{patient_Age}
      div.row
        div(class='doctorAttr mr-3') Mail_Id is:
        div #{Mail_Id}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the doctor collection
        window.location.href='/doctor'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE'  // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeded")
          window.location.href='/doctor'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
